.game {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}

.form {
  width: 400px;
  height: 400px;
  margin: 50px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-sub {
  text-align: center;
  font-size: 30px;
}
.title {
  text-align: center;
  font-size: 40px;
}

.form-field {
  margin: 10px 0px 10px 0px;
}

.form-field input {
  width: -webkit-fill-available;
}

.submit {
  padding: 5px;
  margin-top: 10px;
}

.marker {
  position: absolute;
  width: 60px;
  left: 172px;
  top: -20px;
  z-index: 2;
}

.number {
  font-size: 30px;
}
.message,
.validation-message {
  display: none;
  padding: 20px;
  margin: 10px;
  color: #000000;
  text-align: center;
  border-radius: 10px;
}

.message--red {
  display: block !important;
  border: 1px solid #d96e6e;
  background-color: #d96e6e40;
}

.message--green {
  display: block !important;
  border: 1px solid #6ed979;
  background-color: #6ed98f40;
}

.winner {
  display: flex;
  justify-content: center;
}

.winner_container {
  display: flex;
  justify-content: center;
}

.winner_option {
  margin: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 10px;
}

.attemp {
  text-align: center;
}

.wheel {
  width: 100%;
  height: 100%;
}

.button {
  display: block;
  width: 250px;
  margin: 40px auto;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.blur {
  animation: blurAnimation 5s;
}

@keyframes blurAnimation {
  0% {
    filter: blur(2px);
  }
  80% {
    filter: blur(2px);
  }
  100% {
    filter: blur(0px);
  }
}
